
<% card = Translation.all.sample %>
<% phrase = Expression.find(card.expression_in_target_language_id) %>
<% correct_translation = Expression.find(card.expression_in_base_language_id) %>
<% translations = Array.new %>
<% translations.push(correct_translation) %>
<% 4.times do %>
<% incorrect_translation = Expression.all.sample %>
<% translations.push(incorrect_translation) %>
<% end %>


<!-- bootstrap this -->
<div>
<div>
which translation matches the following phrase?
</div>
<div name = "question" >
<div value = <%= phrase.id %>>
</div> 
<div>
<%= phrase.body %>
</div>
</div>

<form action = "/flashcards/result" method = "post">
 <input type="hidden" name="question" value="<%= phrase.id %>">
<select name="selected_translation">
<% translations.each do |translation| %>
<option value="<%= translation.id %>">
<%= translation.body %>
</option>
<% end %>
</select>
<button> Submit </button>
</form>
