<% translations = Translation.where(learning_path_id: @learning_path_id) %>
<% filtered_translations = translations.where(review_status: 0).or(translations.where(review_status:1)) %>
<% card = filtered_translations.sample %>
<% phrase = Expression.find(card.expression_in_target_language_id) %>
<% correct_translation = Expression.find(card.expression_in_base_language_id) %>
<% translations = Array.new %>
<% translations.push(correct_translation) %>
<% 4.times do %>
<% incorrect_translation = Expression.all.sample %>
<% translations.push(incorrect_translation) %>
<% end %>




<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <p>Which translation matches the following phrase?</p>
      </div>
      <div class="mb-3" value="<%= phrase.id %>">
        <%= phrase.body %>
      </div>
    </div>
  </div>

  <form action="/flashcards/result" method="post" data-turbo="false" class="mt-4">
    <input type="hidden" name="question" value="<%= phrase.id %>">
    <input type = "hidden" name = "learning_path_id" value = "<%= @learning_path_id %>" >
    <div class="form-group">
      <select name="selected_translation" class="form-control">
        <% translations.shuffle.each do |translation| %>
          <option value="<%= translation.id %>">
            <%= translation.body %>
          </option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
