<% if flash[:success] %>
  <script>
    alert("<%= flash[:success] %>");
  </script>
<% elsif flash[:error] %>
  <script>
    alert("<%= flash[:error] %>");
  </script>
<% end %>

<div class="container mt-4">
  <div class="alert alert-info">
    <strong>Expression in Target Language:</strong> <%= Expression.find(@first).body %>
  </div>

  <div class="alert alert-success">
    <% translation = Translation.find_by(expression_in_target_language_id: @first)%>
    <strong>Translation:</strong> <%= Expression.find(translation.expression_in_base_language_id).body %>
  </div>

  <div class="alert <%= @result ? 'alert-success' : 'alert-danger' %>">
    <strong>You answered this card:</strong> <%= @result ? "Correct" : "Incorrect" %>
  </div>
  
  <%= form_with(url: "/translations/#{translation.id}/update_status", method: "post", local: true, class: 'mt-3' ) do %>
    <div class="form-group">
      <label for="review_status">Review Status:</label>
      <select id="review_status" name="review_status" class="form-control">
        <option value="0">Need to Review</option>
        <option value="1">Wouldn't mind reviewing</option>
        <option value="2">Don't want to see again</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Status</button>
  <% end %>
  
  <div class="mt-3">
    <%= link_to("Next", flashcards_question_path(learning_path_id: @learning_path_id), {:class => "btn btn-primary"}) %>
  </div>
</div>
