<div class="container mt-4">
  <div class="alert alert-info">
    <strong>Expression in Target Language:</strong> <%= Expression.where(id: @first).first.body %>
  </div>

  <div class="alert alert-success">
    <strong>Translation:</strong> <%= Expression.where(id: Translation.where(expression_in_target_language_id: @first).first.expression_in_base_language_id).first.body %>
  </div>

  <div class="alert <%= @result ? 'alert-success' : 'alert-danger' %>">
    <strong>You answered this card:</strong> <%= @result ? "Correct" : "Incorrect" %>
  </div>

  <%= link_to("Next", flashcards_question_path, {:class => "btn btn-primary"}) %>
</div>
