<% user_id = current_user.id %>

<div class="container mt-5">
  <h2 class="mb-4">
    All Translations that "Need Review"
  </h2>

  <hr class="mb-4">

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Expression in base language</th>
          <th>Expression in target language</th>
          <th>Learning path</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% list_of_user_learning_paths = LearningPath.where({ :user_id => user_id }) %>
        <% list_of_translations = Translation.where({ :learning_path_id => list_of_user_learning_paths.pluck(:id), :review_status => 1 }) %>
        <% list_of_translations.each do |a_translation| %>
          <tr>
            <td><%= a_translation.id %></td>
            <td><%= Expression.find(a_translation.expression_in_base_language_id).body %></td>
            <td><%= Expression.find(a_translation.expression_in_target_language_id).body %></td>
            <td><%= LearningPath.where(id: a_translation.learning_path_id).at(0).title%></td>
            <td>
              <a href="/translations/<%= a_translation.id %>" class="btn btn-primary btn-sm">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr class="mt-4">
</div>
