<div class="container mt-3">
  <a href="translations/needs_review" class="btn btn-primary">View "need to review"</a>
</div>

<div class="container mt-5">

  <h2 class="mb-3">Add a new learning path</h2>

  <%= form_with(url: "/insert_learning_path", method: :post, id: "form_container", local: true, class:"mb-5") do |form| %>

    <div class="form-group">
      <%= form.label :query_title_box, 'Title', class: "form-label" %>
      <%= form.text_field :query_title_box, id: "title_box", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :base_language_id_query_box, 'Base language (The language you are most comfortable with)', class: "form-label"%>
      <%= form.collection_select :base_language_id_query_box, Language.all, :id, :name, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= form.label :target_language_id_query_box, 'Target language', class: "form-label" %>
      <%= form.collection_select :target_language_id_query_box, Language.all, :id, :name, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= form.label :file, 'Choose a file', class: "form-label" %>
      <%= form.file_field :file, accept: '.srt, .txt', class: "form-control-file" %>
    </div>

    <div class="form-group">
      <%= form.submit 'Create learning path', class: "btn btn-primary" %>
    </div>

  <% end %>
<h1 class="mb-4">List of all existing learning paths</h1>
  <table class="table table-striped my-5">
    <thead>
      <tr>
        <th>Title</th>
        <th>Base language</th>
        <th>Target language</th>
        <th>Details</th>
        <th>Multiple Choice Mode</th>
        <th>Translate Mode</th>
      </tr>
    </thead>
    <tbody>
      <% LearningPath.where(user_id: current_user.id).order(created_at: :desc).each do |path| %>
        <tr>
          <td><%= path.title.present? ? path.title : "Untitled" %></td>
          <td><%= path.base_language.name %></td>
          <td><%= path.target_language.name %></td>
          <td>
            <%= link_to("Show details", "/learning_paths/#{path.id}", class: "btn btn-info") %>
          </td>
          <td>
            <%= link_to("Multiple Choice Mode", flashcards_question_path(learning_path_id: path.id), class: "btn btn-success") %>
          </td>
          <td>
            <%= link_to("Translate Mode", flashcards_quiz_path(learning_path_id: path.id), class: "btn btn-success") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
