<div class="container mt-4">
  <div>
    <h1>
      Learning path <%= @the_learning_path.title %> details
    </h1>

    <div class="text-center mt-4">
      <a href="/delete_learning_path/<%= @the_learning_path.id %>" class="btn btn-danger" data-method="delete">
        Delete this learning path
      </a>
    </div>


    <div>
      <div>
        <a href="/learning_paths" class="btn btn-secondary">
          Go back
        </a>
      </div>

      <div class="mt-4">
        <% user_id = current_user.id %>
        <% learning_id = LearningPath.find_by(user_id: user_id).id %>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Expression in base language</th>
              <th>Expression in target language</th>
              <th>Learning path</th>
              <th>Created at</th>
              <th>Updated at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% list_of_translations = Translation.where(:learning_path_id => @the_learning_path.id).all %>
            <% list_of_translations.each do |a_translation| %>
              <tr>
                <td><%= a_translation.id %></td>
                <td><%= Expression.find(a_translation.expression_in_base_language_id).body %></td>
                <td><%= Expression.find(a_translation.expression_in_target_language_id).body %></td>
                <td><%= a_translation.learning_path_id %></td>
                <td><%= time_ago_in_words(a_translation.created_at) %> ago</td>
                <td><%= time_ago_in_words(a_translation.updated_at) %> ago</td>
                <td>
                  <a href="/translations/<%= a_translation.id %>" class="btn btn-info">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
