<div class="container mt-4">
  <div class="card">
  	<div class="card-header">
    	<h1 class="card-title">Learning path <%= @the_learning_path.title %> details</h1>
    </div>

    <div class="card-body text-center mt-4">
  	<%= link_to 'Delete this learning path', "/delete_learning_path/#{@the_learning_path.id}", class: "btn btn-danger", method: :get, data:  { controller: 'delete-confirmation', action: 'click->delete-confirmation#confirmDelete' } %>
    </div>

    <div class="card-footer">
      <a href="/learning_paths" class="btn btn-secondary">Go back</a>
    </div>

    <div class="mt-4">
    <% user_id = current_user.id %>
    <% learning_id = LearningPath.find_by(user_id: user_id).id %>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>id</th>
              <th>Expression in base language</th>
              <th>Expression in target language</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% list_of_translations = Translation.where(:learning_path_id => @the_learning_path.id).all %>
            <% list_of_translations.each do |a_translation| %>
              <tr>
              	<td> <%= a_translation.id %> </td>
                <td><%= Expression.find(a_translation.expression_in_base_language_id).body %></td>
                <td><%= Expression.find(a_translation.expression_in_target_language_id).body %></td>
                <td>
                 <form action="/translations/<%= a_translation.id %>/update_status" method="post">
  					<input type="hidden" name="_method" value="post">
  
  					<label for="review_status">Review Status:</label>
  					<select class="form-control" id="review_status" name="review_status">
    					<option value="0">Need to Review</option>
    					<option value="1">Wouldn't mind reviewing</option>
    					<option value="2">Don't want to see again</option>
  					</select>
  
  					<button type="submit" class="btn btn-primary mt-2">Update Status</button>
				 </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
