<div>
  <div>
    <h1>
      List of all expressions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new expression
    </h2>

    <form action="/insert_expression" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <div>
        <label for="language_id_box">
          Language
        </label>

        <input type="text" id="language_id_box" name="query_language_id">
      </div>

      <button>
        Create expression
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Language
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_expressions.each do |an_expression| %>
      <tr>
        <td>
          <%= an_expression.id %>
        </td>

        <td>
          <%= an_expression.body %>
        </td>

        <td>
          <%= an_expression.language_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_expression.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_expression.updated_at) %> ago
        </td>

        <td>
          <a href="/expressions/<%= an_expression.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
