<div>
  <div>
    <h1>
      Word #<%= @the_word.id %> details
    </h1>

    <div>
      <div>
        <a href="/words">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_word/<%= @the_word.id %>">
          Delete word
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Language
      </dt>
      <dd>
        <%= @the_word.language_id %>
      </dd>

      <dt>
        Word
      </dt>
      <dd>
        <%= @the_word.word %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_word.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_word.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit word
    </h2>

    <form action="/modify_word/<%= @the_word.id %>"  method="post" >
      <div>
        <label for="language_id_box">
          Language
        </label>

        <input type="text" id="language_id_box" name="query_language_id" value="<%= @the_word.language_id %>">
      </div>

      <div>
        <label for="word_box">
          Word
        </label>

        <input type="text" id="word_box" name="query_word" value="<%= @the_word.word %>">
      </div>

      <button>
        Update word
      </button>
    </form>
  </div>
</div>

<hr>
